################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/competitive_teams_management/v15/Server/sqlite3
